<div class="container" id="textoHome">
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <br>
         <p class="textoHome">Somos a Goll P Viagens, estamos no mercado há 2 semanas, e já atendemos 0 familias, o nosso objetivo é que seus sonhos não se concretizem. Adotamos uma estrutura confiável que garante as melhores viagens com as menores taxas de pagamentos, e o melhor, agora aceitamos Vales Transportes e Vales refeições como forma de pagamento**, possibilitando até mesmo a familia mais pobres a realizar os seus sonhos .. Temos um canal de atendimento treinado para lidar com todas as dúvidas sobre promoções e passagens, o nosso call center é formado por estudantes do Seu Lunga, o maior influencer de boas maneiras da atualidade. Após escolher o seu destino, você será redirecionado para o nosso WhatsApp para concluir o golpe através da forma de pagamento*. Não perca essa oprtunidade, acesse já as nossas promoções e confira os melhores preços do mercado para não realizar á sua viagem dos sonhos!</p>
      </div>