 <div class="container">
        <h1><br></h1>
      </div>
      <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <h3>Viaje a china</h3>
                <img src="~/imagens/china1.jpg" alt="" width="100%" height="88.50%">
                <p>De R$10.500 Por apenas R$5.000</p>
            </div>
            <div class="col-3">
                <h3>Viaje a França</h3>
                <img src="~/imagens/franca2.jpg" alt="" width="100%" height="88.50%">
                <p>De R$10.500 Por apenas R$5.000</p>
            </div>
            <div class="col-3">
                <h3>Viaje a Italia</h3>
                <img src="~/imagens/italia1.jpg" alt="" width="100%" height="88.50%">
                <p>De R$10.500 Por apenas R$5.000</p>
            </div>
            <div class="col-3">
                <h3>Viaje a Moçanbique</h3>
                <img src="~/imagens/mocambique.jpg" alt="" width="100%" height="88.50%">
                <p>De R$10.500 Por apenas R$5.000</p>
            </div>

            <div class="col-12">
               <br>
            </div>

            <div class="col-12">
                <h3>e tem mais ainda</h3>
            </div>
            <div class="col-3">
                <h3>Viaje a Tailandia</h3>
                <img src="~/imagens/tailandia.jpg" alt="" width="100%" height="88.50%">
                <p>De R$10.500 Por apenas R$5.000</p>
            </div>
            <div class="col-3">
                <h3>Viaje a Turquia</h3>
                <img src="~/imagens/turquia.jpg" alt="" width="100%" height="88.50%">
                <p>De R$10.500 Por apenas R$5.000</p>
            </div>
            <div class="col-3">
                <h3>Viaje a china</h3>
                <img src="~/imagens/china1.jpg" alt="" width="100%" height="88.50%">
                <p>De R$10.500 Por apenas R$5.000</p>
            </div>
            <div class="col-3">
                <h3>Viaje a Arabia saudita</h3>
                <img src="~/imagens/saudita.jpg" alt="" width="100%" height="88.50%">
                <p>De R$10.500 Por apenas R$5.000</p>
            </div>
            <div class="col-12">
                <br>
            </div>
            <div class="col-12">
                <h4>Temos os melhores destinos</h4>
                <p>Mais caso queira Cadastrar seu destino <a asp-action="Index" asp-controller="Destinoes">Clique aqui</a></p>
            </div>
        </div>
      </div>